* { margin: 0; padding: 0; box-sizing: border-box; }

body {
    font-family: 'Segoe UI', Arial, sans-serif;
    background-color: #f5f5f5;
    color: #1a1a1a;
}

header {
    background-color: #000000;
    color: #CFB991;
    padding: 12px 36px;
    display: flex;
    align-items: center;
    gap: 24px;
    position: sticky;
    top: 0;
    z-index: 100;
}

header img {
    height: 90px;
    margin-left: auto;
}

header div h1 {
    font-size: 22px;
    font-weight: 700;
    color: #CFB991;
}

header div p {
    font-size: 13px;
    color: #aaaaaa;
    margin-top: 4px;
    margin-bottom: 4px;
}

.advisor-break {
    display: inline;
}

.container {
    max-width: 1100px;
    margin: 40px auto;
    padding: 0 24px;
}

.section {
    background: #ffffff;
    border-radius: 8px;
    padding: 32px;
    margin-bottom: 32px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
}

h2 {
    font-size: 20px;
    font-weight: 700;
    color: #000000;
    margin-bottom: 12px;
    padding-bottom: 8px;
    border-bottom: 3px solid #CFB991;
}

p {
    font-size: 15px;
    line-height: 1.7;
    color: #333333;
    margin-bottom: 12px;
    text-align: justify;
}

.video {
    display: block;
    margin: 16px auto 0 auto;
    margin-bottom: 4px;
    width: 85%;
    border-radius: 8px;
}

.plot-img {
    width: 85%;
    display: block;
    margin: 16px auto 0 auto;
    margin-bottom: 5px;
    border-radius: 6px;
    border: 1px solid #e0e0e0;
}

.img-row {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.img-row img {
    width: 30%;
    height: auto;
    border-radius: 6px;
    border: 1px solid #e0e0e0
}

.caption {
    font-size: 13px;
    color: #666666;
    margin-top: 8px;
    font-style: italic;
    text-align: center;
}

.citation {
    font-size: 13px;
    color: #555555;
    line-height: 1.6;
}

.citation a {
    color: #CFB991;
}

footer {
    background: #000000;
    text-align: center;
    padding: 20px;
    font-size: 13px;
    margin-top: 40px;
}

footer p {
        color: #CFB991;
        text-align: center;
}

@media (max-width: 700px) {
    header {
        flex-direction: column;
        text-align: center;
        padding: 16px;
        position: static;
        height: auto;
    }

    header p {
        text-align: center;
    }

    header img {
        display: none;
    }
    
    header div h1 {
        font-size: 16px;
    }

    .advisor-break {
        display: block;
        margin-top: 4px;
    }

    .plot-img {
        width: 100%;
    }

    .container {
        padding: 0 12px;
    }

    .section {
        padding: 20px;
    }
}